@import "tailwindcss";

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* Clase para girar la cara trasera 180 grados */
  .my-rotate-y-180 {
    transform: rotateY(180deg);
  }
}